# Correct the fields below then remove the ".example" extension.
# All fields are required.

[ezid]
username = username
password = password
ark-shoulder = ark:/99999/fk4
ark-resolver = http://n2t.net
minter-url = https://ezid.cdlib.org/shoulder

[cdm]
catcher-url = http://yourcollection.yourorgname.org
wsAPI-url = https://yourcollection.yourorgname.org
username = johndoe
password = password123
license = 123456789abcdefghijk
ark-field = accrub
